/* =========================================================================
   Basics - modifications for b2find version 2
   ========================================================================= */

body {
    background:       #FFFFFF url("/images/bg_page.png") no-repeat left top;
    position:         relative;
}

[role=main] {
    min-height:       500px;
}

[role=main], .main {
    background:       transparent;
}

.homepage [role=main] {
    min-height:       500px;
}

/* =========================================================================
   The "account masthead" bar across the top of the site
   ========================================================================= */

.account-masthead {
    background-color: rgb(40, 40, 40);
}

.account-masthead .account .notifications a span {
    background-color: black;
}

.account-masthead .account ul li a {
    color:            rgba(255, 255, 255, 0.6);
}

.account-masthead .account ul li a:hover {
    color:            rgba(255, 255, 255, 0.7);
    background-color: black;
}

/* =========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ========================================================================= */

.masthead {
    background-color: #FFFFFF;
}

.masthead .navigation .nav-pills li a:hover {
    background-color: rgb(19, 43, 95);
    color:            white;
}

.masthead .navigation .nav-pills li.active a {
    background-color: rgb(37, 85, 187);
}

/* =========================================================================
   Front page content - modifications for b2find version 2
   ========================================================================= */

.homepage .module-search .module-content {
    color:            #000000;
    background-color: #FFFFFF;
}

.homepage .module-search .tags {
    color:            #000000;
    background-color: #FFFFFF;
}

/* =========================================================================
   Front page content - new elements for b2find version 2
   ========================================================================= */

#homeinput {
    height:           34px;
    border-width:     2px;
    border-color:     #113497;
    border-style:     solid none solid solid;
    border-radius:    5px 0 0 5px;
}

#homesubmit {
    height:           46px;
    width:            100px;
    color:            #ffffff;
    background-color: #113497;
    border-width:     2px;
    border-color:     #113497;
    border-style:     solid solid solid none;
    border-radius:    0 5px 5px 0;
}

.b2f_tag {
    display:          inline-block;
    margin-bottom:    4px;
    color:            #000000;
    background-color: #ffffff;
    padding:          1px 10px;
    border:           1px solid #dddddd;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow:  inset 0 1px 0 #ffffff;
    box-shadow:       inset 0 1px 0 #ffffff;
}

a.b2f_tag:hover {
    text-decoration:  none;
    color:            #ffffff;
    background-color: #1f3a93;
    border:           1px solid #ffffff;
    -webkit-box-shadow: inset 0 1px 0 #3d97b3;
    -moz-box-shadow:  inset 0 1px 0 #3d97b3;
    box-shadow:       inset 0 1px 0 #3d97b3;
}

/* =========================================================================
   Header & footer - new elements for b2find version 2
   ========================================================================= */

#header-top {
    background:       #F45D00;
    padding:          5px 5px;
}

#header-top a {
    color:            #FFFFFF;
}

#header-main {
    background:       #FFFFFF url("/images/img_header.png") no-repeat top right;
    padding:          1% 0;
}

#footer-powered {
    background:       transparent url("/images/img_footer.png") no-repeat bottom right;
    height:           94px;
}

#footer-main {
    background:       #F7F3E9 url("/images/color-line.jpg") repeat-x top left;
    padding:          20px 0;
    font-size:        12px;
    width: 100%;
}

.navbar-default {
    background-color: transparent !important;
    border:           0;
    margin-top:       30px;
}

.navbar-default .navbar-nav > li > a {
    color:            #333333;
    font-weight:      400;
}

.navbar-default .navbar-nav > li > a:hover {
    color:            #F45D00;
    font-weight:      400;
}

.navbar-footer {
    background-color: transparent;
    border:           0;
}

.navbar-footer ul li a {
    background-color: transparent;
    color:            #666666; 
}

.navbar-footer ul li a:hover {
    color:            #333333;
}

.header_logo {
    padding-left:     1em;
}

.voffset {
    padding-top:      125px;
}

/* =========================================================================
   Miscellaneous changes / additions
   ========================================================================= */

/* The arrows for facet's accordion header. */
.icon-chevron:before {
    content:          "\f077";
}

.collapsed .icon-chevron:before {
    content:          "\f078";
}
