{% ckan_extends %}

{% block styles %}
  {{ super() }}

  <!-- Load ion range slider style. -->
  <!--link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" rel="stylesheet" crossorigin="anonymous"-->

  <!-- Load bootstrap slider style. -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css">

  {% asset 'ckanext-b2find/theme' %}
{% endblock %}

{% block scripts %}
  {{ super() }}

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>

  <!-- Load React Router and React Router DOM -->
  <!-- script src="https://unpkg.com/react-router@6/umd/react-router.production.min.js" crossorigin></script -->
  <!-- script src="https://unpkg.com/react-router-dom@6/umd/react-router-dom.production.min.js" crossorigin></script -->

  <!-- Load Reactivesearch. -->
  <!-- script src="https://unpkg.com/@appbaseio/reactivesearch@3.28.0/umd/reactivesearch.js" crossorigin></script -->

  <!-- Load ion range slider. -->
  <!--script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin></script-->
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js" crossorigin></script-->


  <!-- Don't use this in production: -->
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <!-- Load Axios HTTP client. -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Load bootstrap slider. -->
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.js"></script>

  <!-- Load our React component. -->
  <script src="/app.js" type="text/babel"></script>
{% endblock %}
