{% ckan_extends %}

{% block styles %}
  {{ super() }}

  {% asset 'ckanext-b2find/theme' %}
{% endblock %}

{% block scripts %}
  {{ super() }}

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

  <!-- Don't use this in production: -->
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <!-- Load Axios HTTP client. -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Load our React component. -->
  <script src="/app.js" type="text/babel"></script>
{% endblock %}
