<footer>
  <div id="footer-powered">
  </div>
  <div id="footer-main">
    <div class="row-fluid">
      <div class="span6">
        <p><img src="images/flag-ce.jpg" style="float:left; margin:0 10px;"/> EUDAT receives funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No. 654065.</p>
      </div>
      <div class="span6">
        <nav class="navbar navbar-footer pull-right">
          <ul id="menu" class="nav navbar-nav">
            <li><a href="/legal">Legal Notice</a></li>
            <li><a href="http://eudat.eu/what-eudat" target="_blank">About EUDAT</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
