<footer>
  <div class="footer-main">
    <div class="row-fluid">
      <div class="span6">
        <div class="footer-logo">
          <img src="/images/Logo_eudat_CDI_white.svg" width="200px;"/>
        </div>
        <div class="footer-logo">© 2019 EUDAT Collaborative Data Infrastructure</div>
      </div>
      <div class="span6">
        <nav class="navbar navbar-footer pull-right">
          <ul id="menu" class="nav navbar-nav">
            <li><a href="https://hdl.handle.net/11304/e43b2e3f-83c5-4e3f-b8b7-18d38d37a6cd" target="_blank">EUDAT Service ToU</a></li>
            <li><a href="https://www.dkrz.de/about-en/contact/en-datenschutzhinweise" target="_blank">Data Privacy Policy</a></li>
            <li><a href="https://www.dkrz.de/about-en/contact/impressum" target="_blank">Legal Notice</a></li>
            <li><a href="http://eudat.eu/what-eudat" target="_blank">About EUDAT</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <hr class="footer-line" />
    <div class="row-fluid">
      <div class="span8">
        <div class="footer-logo">
          <img src="/images/euflag.png" width="60px;"/>&nbsp;&nbsp;
          <img src="/images/EOSC-hub-extended-grey.png" width="120px;"/>
        </div>
        <div class="footer-logo">
          B2FIND is co-funded by the EOSC-hub project (Horizon 2020) under Grant number 777536
        </div>
      </div>
      <div class="span4">
        <div class="footer-powered">
          <a href="https://ckan.org" target="_blank">Powered by CKAN</a>
        </div>
      </div>
    </div>
  </div>

  {% if g.debug %}
    {% include 'snippets/debug.html' %}
  {% endif %}
</footer>
