{% ckan_extends %}

{% block header_wrapper %}
{% block header_account %}
{% if c.userobj %}
<header class="account-masthead">
  <div class="container">
    {% block header_account_container_content %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %}
        {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
            {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
            <span class="username">{{ c.userobj.display_name }}</span>
          </a>
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
          <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Settings') }}</span>
          </a>
        </li>
        {% endblock %}
        {% block header_account_log_out_link %}
        <li>
          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
        {% endblock %}
        {% endblock %}
      </ul>
    </div>
    {% endblock %}
  </div>
</header>
{% endif %}
{% endblock %}

{% block b2find_header %}
<header>
{% if g.debug and not g.debug_supress_header %}
  <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
{% endif %}
<div id="header-top">
  <div class="row">
    <div class="eudat-link">
      <a href="http://www.eudat.eu" target="_blank">GO TO EUDAT WEBSITE</a>
    </div>
  </div>
</div>
<div id="header-main">
  <div class="row">
    <div class="col-md-3">
      <a href="/"><img class="header_logo" src="/images/logo.png" alt="B2FIND"/></a>
    </div>
    <div class="col-md-9">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div id="gb_menu">
            <ul id="menu" class="nav navbar-nav">
              <li><a href="/dataset">DATA CATALOG</a></li>
              <li><a href="/organization">COMMUNITIES</a></li>
              <li><a href="/group">REPOSITORIES</a></li>
              <li><a href="/site/forproviders" target="_blank">FOR PROVIDER</a></li>
              <li><a href="/site/forusers" target="_blank">FOR USERS</a></li>
              <li><a href="/site/about" target="_blank">ABOUT</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
{% endblock %}
{% endblock %}
