{% extends "page.html" %}

{% block subtitle %}{{ _('Nutzungsbedingungen') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Legal Notice'), controller='ckanext.b2find.controller:LegalController', action='index' %}</li>
  <li class="active">{% link_for _('Nutzungsbedingungen'), controller='ckanext.b2find.controller:LegalController', action='nutzungsbedingungen' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Nutzungsbedingungen B2FIND') }}</h1>

      <p>
        Die Deutsches Klimarechenzentrum GmbH (im Folgenden: das &quot;DKRZ&quot;),
        Bundesstra&szlig;e 45a, 20146 Hamburg, stellt unter &lt;b2find.eudat.eu&gt;
        (im Folgenden: &quot;Website&quot;) eine Internetplattform zur Verf&uuml;gung,
        mit der Nutzern der Zugang zu dem Metadatenportal B2FIND von EUDAT (im
        Folgenden: &quot;B2FIND&quot;) erm&ouml;glicht wird.
      </p>

      <h3>1. Erreichbarkeit der Webseite</h3>

      <p>
        Das DKRZ ist bem&uuml;ht, eine st&auml;ndige Erreichbarkeit der Website
        sicherzustellen. Es ist jedoch nicht ausgeschlossen, dass aus technischen
        Gr&uuml;nden oder zu Wartungszwecken die Website unter &lt;b2find.eudat.eu&gt;
        zeitweise und ohne vorherige Ank&uuml;ndigung vor&uuml;bergehend nicht
        erreichbar ist. Ein Anspruch des Nutzers auf eine ununterbrochene
        Erreichbarkeit der Inhalte der Website besteht nicht.
      </p>

      <h3>2. Nutzung von B2FIND</h3>

      <p>
        Die Nutzung von B2FIND &uuml;ber unsere Website ist nur unter Wahrung
        der Urheberrechte und sonstiger Rechte Dritter zul&auml;ssig. Das DKRZ ist
        nicht verpflichtet, Nutzerinhalte hinsichtlich ihrer Vollst&auml;ndigkeit,
        Richtigkeit, Aktualit&auml;t, Freiheit von Rechten Dritter und hinsichtlich
        ihrer Vereinbarkeit mit gesetzlichen Bestimmungen oder anderen verbindlichen
        Regeln zu &uuml;berpr&uuml;fen oder zu &uuml;berwachen.
      </p>

      <p>
        Dem Nutzer ist es nicht gestattet, Inhalte hochzuladen, die die
        Rechte Dritter verletzen. Mit dem Hochladen von Inhalten erkl&auml;rt der
        Nutzer, &uuml;ber die erforderlichen Nutzungsrechte an den betroffenen Inhalten
        zu verf&uuml;gen und mit den Inhalten nicht gegen geltende Gesetze oder
        sonstige verbindliche Regeln zu versto&szlig;en. Im Falle einer
        Rechtsverletzung ist er verpflichtet, das DKRZ von Anspr&uuml;chen Dritter
        freizustellen; dies schlie&szlig;t die Kosten f&uuml;r Rechtsverteidigung
        durch das DKRZ mit ein.
      </p>

      <p>
        Nutzer des Datenportals d&uuml;rfen einzelne Vervielf&auml;ltigungen (z.B.
        durch Herunterladen und Ausdrucken) der dort abrufbaren und herunterladbaren
        Inhalte zum privaten Gebrauch erstellen. Zudem sind Vervielf&auml;ltigungen
        insbesondere zum wissenschaftlichen Gebrauch zul&auml;ssig, wenn und soweit die
        Vervielf&auml;ltigung zu diesem Zweck geboten ist und sie keinen gewerblichen
        Zwecken dient. Weitergehende Rechte werden nicht einger&auml;umt.
      </p>

      <h3>3. Haftungsgrunds&auml;tze</h3>

      <p>
        Der Besuch und die Nutzung der Website erfolgt auf eigene
        Verantwortung des Nutzers. Eine Haftung des DKRZ f&uuml;r leicht
        fahrl&auml;ssige Pflichtverletzungen ist ausgeschlossen, sofern diese nicht
        Sch&auml;den aus der Verletzung des Lebens, des K&ouml;rpers oder der
        Gesundheit betreffen oder Anspr&uuml;che nach dem Produkthaftungsgesetz
        ber&uuml;hrt sind. Unber&uuml;hrt bleibt ferner die Haftung f&uuml;r die
        Verletzung von Pflichten, deren Erf&uuml;llung die ordnungsgem&auml;&szlig;e
        Durchf&uuml;hrung des Vertrages &uuml;berhaupt erst erm&ouml;glicht und auf
        deren Einhaltung der Nutzer regelm&auml;&szlig;ig vertrauen darf
        (&quot;wesentliche Vertragspflichten&quot;). Im Fall der Verletzung
        wesentlicher Vertragsplichten sind Schadensersatzanspr&uuml;che des Nutzers
        jedoch auf den Ersatz vertragstypischer, vorhersehbarer Sch&auml;den
        beschr&auml;nkt. Die gleichen Haftungseinschr&auml;nkungen gelten f&uuml;r
        Pflichtverletzungen der gesetzlichen Vertreter und Erf&uuml;llungsgehilfen
        des DKRZ.
      </p>

      <p>
        Das DKRZ &uuml;bernimmt im Rahmen der oben genannten Einschr&auml;nkungen
        insbesondere keine Haftung f&uuml;r unbefugte Zugriffe Dritter auf den Inhalt
        der Website oder f&uuml;r Manipulationen durch Dritte sowie f&uuml;r eine
        m&ouml;gliche &Uuml;bertragung von Computerviren, Computerw&uuml;rmern,
        Trojanischen Pferden oder anderen schadhaften Programmen. Der Nutzer ist
        verpflichtet, eigene Vorkehrungen zum Schutz des eigenen Rechners vor
        derartigen schadhaften Programmen zu treffen, insbesondere eine
        Antiviren-Software zu installieren und die jeweils aktuellen
        Antiviren-Definitionen zu verwenden.
      </p>

      <h3>4. Haftung f&uuml;r Drittinhalte</h3>

      <p>
        F&uuml;r Inhalte, die von Nutzern oder sonst von Dritten
        ver&ouml;ffentlicht werden (&quot;Drittinhalte&quot;) haftet das DKRZ nur
        nach den in Ziffer 3. genannten Grunds&auml;tzen. Dies gilt insbesondere
        f&uuml;r alle &uuml;ber diese Website abrufbaren Daten, unabh&auml;ngig davon,
        ob diese auf unseren oder fremden Servern gespeichert sind. Das DKRZ ist nicht
        verpflichtet, Drittinhalte hinsichtlich ihrer Vollst&auml;ndigkeit, Richtigkeit,
        Aktualit&auml;t, Freiheit von Rechten Dritter und hinsichtlich ihrer
        &Uuml;bereinstimmung mit gesetzlichen Bestimmungen, anderen verbindlichen
        Regeln oder auf die Vereinbarkeit mit Standesrecht zu &uuml;berwachen.
        Dementsprechend &uuml;bernimmt das DKRZ auch keine Gew&auml;hr oder
        Verantwortung f&uuml;r die Vollst&auml;ndigkeit, Richtigkeit, Aktualit&auml;t
        oder Rechtm&auml;&szlig;igkeit von Drittinhalten.
      </p>

      <h3>5. Haftung f&uuml;r Links</h3>

      <p>
        Die Website enth&auml;lt Verweise (&quot;Links&quot;) auf Inhalte
        externer Internetseiten. Das Setzen solcher Links erfolgt ausschlie&szlig;lich
        zum Zwecke der Information und als zus&auml;tzlicher Service f&uuml;r die
        Nutzer der Website, ohne dass das DKRZ damit eine Empfehlung, Zustimmung oder
        Unterst&uuml;tzung hinsichtlich der verlinkten Inhalte ausdr&uuml;cken oder
        sich diese zu eigen machen m&ouml;chte. Zum Zeitpunkt der Verlinkung durch das
        DKRZ waren keine rechtswidrigen Inhalte auf den verlinkten Internetseiten
        erkennbar. Allerdings hat das DKRZ weder auf die Gestaltung noch die Inhalte
        der verlinkten Internetseiten Einfluss. Vielmehr ist f&uuml;r die Gestaltung
        und Inhalte der verlinkten Internetseiten ausschlie&szlig;lich deren jeweiliger
        Betreiber verantwortlich. Das DKRZ &uuml;bernimmt daher keine Gew&auml;hr oder
        Verantwortung f&uuml;r den Bestand, die Richtigkeit, Vollst&auml;ndigkeit,
        Aktualit&auml;t oder Rechtm&auml;&szlig;igkeit der Gestaltung und Inhalte
        verlinkter Internetseiten.
      </p>

      <h3>6. Urheberrecht</h3>

      <p>
        Der Inhalt und die Struktur dieser Website, insbesondere das
        Website-Design, die Texte, Grafiken und verwendete Software, sind
        urheberrechtlich gesch&uuml;tzt. Daher ist die Speicherung und
        Vervielf&auml;ltigung von Text- und Bildmaterial oder Grafiken, die &uuml;ber
        die blo&szlig;e Anzeige auf dem Bildschirm oder die Verwendung im Cache
        (vor&uuml;bergehender Speicher) oder in Proxy-Systemen hinausgeht, nicht
        gestattet. Jede Verwendung oder Vervielf&auml;ltigung der bereitgestellten
        Inhalte und Daten f&uuml;r andere Zwecke als die der pers&ouml;nlichen
        Information oder Forschung ist nur nach vorheriger schriftlicher Genehmigung
        zul&auml;ssig.
      </p>

      <p>
        Soweit die Inhalte auf dieser Seite nicht vom DKRZ erstellt
        wurden, wurden die Urheberrechte Dritter beachtet. Sollten Sie auf eine
        Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden
        Hinweis. Bei Bekanntwerden einer Rechtsverletzung werden wir alle zumutbaren
        Ma&szlig;nahmen ergreifen, um diese zu unterbinden.
      </p>

      <h3>7. Datenschutz/Personenbezogene Informationen</h3>

      <p>
        <span style='color:black'>
          Informationen zur Erhebung und Verarbeitung Ihrer personenbezogenen Daten bei der Benutzung der
          Website k&ouml;nnen den <a href="https://www.dkrz.de/about/contact/datenschutzhinweise">Datenschutzhinweisen</a> entnommen werden.
        </span>
      </p>

      <h3>8. Anwendbares Recht und Gerichtsstand</h3>

      <p>
        Es gilt das Recht der Bundesrepublik Deutschland.
        Wenn Sie das Angebot auf dieser Website als Verbraucher nutzen und zum
        Zeitpunkt Ihren gew&ouml;hnlichen Aufenthalt in einem anderen Land haben,
        bleibt die Anwendung zwingender Rechtsvorschriften dieses Landes von der
        in Satz 1 getroffenen Rechtswahl unber&uuml;hrt.
      </p>

      <p>
        Erf&uuml;llungsort und Gerichtsstand f&uuml;r alle Streitigkeiten aus
        und im Zusammenhang mit dem Angebot dieser Website ist bei der Nutzung
        durch Kaufleute, juristische Personen des &ouml;ffentlichen Rechts oder
        &ouml;ffentlich-rechtliche Sonderverm&ouml;gen Hamburg. Im &Uuml;brigen
        gelten f&uuml;r die &ouml;rtliche und die internationale Zust&auml;ndigkeit
        die anwendbaren gesetzlichen Bestimmungen.
      </p>

      <p><b>Stand: 05.01.2015</b></p>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
