{% trans %}
<h2>Use B2FIND - <a href="/">http://b2find.eudat.eu/</a></h2>

<h2>What is B2FIND?</h2>
B2FIND is the EUDAT metadata service allowing users to discover what kind of
data is stored through the <a href="http://eudat.eu/b2safe">B2SAFE</a> and
<a href="http://b2share.eudat.eu/">B2SHARE</a> services which collect a large
number of datasets from various disciplines. EUDAT will also harvest metadata
from communities that have stable metadata providers to create a comprehensive
joint catalogue to help researchers find interesting data objects and
collections. EUDAT B2FIND service will be a portal allowing researchers to: 

<p><ul>
<li>easily find collections of scientific data - generated either by various communities or via EUDAT services</li>
<li>use standardized facets to search for data</li>
<li>access those data collections through the given references in the metadata</li>
</ul>

<img alt="" src="/images/md.png" style="width: 700px; height: 260px;" /><br/>

<p>
<h2>Who benefits from it?</h2>
This service is primarily aimed at the many researchers who want to:

<p><ul>
<li>quickly find useful data resources from various scientific disciplines which they can use for their research purposes,</li>
<li>build new (virtual) collections of data to address specific research questions,</li>
<li>get quick overviews of available data</li>
</ul>

Research communities providing metadata to B2FIND have the opportunity to make
their data visible beyond their own community and even discipline context.

<p>
<h2>How does it work?</h2>
Metadata is harvested from metadata providers using standard technologies.
The community itself decides which metadata is made available for EUDAT.
A sophisticated framework ensures that metadata providers are harvested
regularly to always display complete and up to date information. EUDAT
provides an optimized translation from community metadata schema to standard
facets in the B2FIND metadata catalogue.

<p>
<h2>Who can use it?</h2>
B2FIND is open to all researchers and scientists free of charge. Research
communities who want to provide their metadata to B2FIND should contact us
through <a href="http://www.eudat.eu/support-request">http://www.eudat.eu/support-request</a>.<br/><br/>
EUDAT is also interested in helping emerging communities to set up their own
metadata infrastructure and help them publish their metadata.
{% endtrans %}
