{% trans %}
<h2>What is it?</h2>

<p>Through the Safe Replication and Simple Store services, EUDAT will collect a
great deal of data from various disciplines. Obviously EUDAT needs a mechanism
to allow users to see what kind of data is stored through these services &ndash;
this will be done through the EUDAT Metadata service.</p>

<p>
EUDAT will also harvest other metadata from stable metadata providers to create
a comprehensive joint catalogue that will help researchers to find interesting
data objects and collections. Thus the EUDAT Metadata service will be a portal
that allows researchers to:

<ul>
<li>easily find collections of scientific data &ndash; generated either by various communities or via EUDAT services, and</li>
<li>access those data collections through the given references in the metadata to the relevant data stores.</li>
</ul></p>
	
<img alt="" src="/images/md.png" style="width: 700px; height: 260px;" /><br/>

<p>
This EUDAT metadata portal will play a role similar to that of well-known
portals such as Europeana. The EUDAT Metadata service will be a
cross-disciplinary service involving heterogeneous metadata sets, which means
that it will take some time to achieve optimal mapping and query strategies.</p>

<h2>Who benefits from it?</h2>

<p>
This service is primarily aimed at the many researchers who want to:
<ul>
<li>quickly find useful data resources which they can use for their research purposes,</li>
<li>build new (virtual) collections of data to address specific research questions,</li>
<li>get quick overviews of available data and produce statistics, and</li>
<li>share comments on the data with other users.</li>
</ul></p>

<p>
The quality of the EUDAT Metadata service will depend on the stability and
quality of the metadata provided by the different data centres, and also on the
time invested by the resource creators, namely the researchers who enter the
metadata. One major requirement will be that all metadata include a usable link
that allows the data to be accessed immediately.</p>

<h2>How can we join?</h2>

<p>
EUDAT will initially make this Metadata service available for all the data that
is in the EUDAT registered domain of data and for a few communities with
well-described and stable metadata offers. EUDAT will then extend the service
to other interested and reliable data and metadata providers, based on
agreements. The metadata service will be freely available to all interested
researchers. To help researchers to use the Metadata service, EUDAT will offer
both educational material (such as screencasts) and a service helpdesk. To find
out more details about the EUDAT Metadata service, please get in touch with the
EUDAT Metadata team at the address below.</p>

<p>
EUDAT is happy to talk to any interested communities about their interest in
this metadata aggregation service and about the metadata that can be provided
by them.</p>

<p>For more information please email: <a href="mailto:eudat-metadata@postit.csc.fi">eudat-metadata@postit.csc.fi</a></p>
{% endtrans %}
