{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    <h1 class="page-heading">{{ _("WHAT IS B2FIND?") }}</h1>
  </header>
  <section class="featured">
    <p>
      B2FIND is the EUDAT metadata service allowing users to discover what kind of data is stored through
      the B2SAFE and B2SHARE services which collect a large number of datasets from various disciplines.
      EUDAT will also harvest metadata from communities that have stable metadata providers to create a
      comprehensive joint catalogue to help researchers find interesting data objects and collections.
    </p>
    <a class="btn btn-default" href="http://www.eudat.eu/services/b2find">Read more</a>
  </section>
</div>
