{% set placeholder = _('e.g. IPCC') %}

<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for 'dataset.search' %}">
    <h3 class="heading text-center">{{ _("Search data") }}</h3>
    <div class="search-input form-group search-giant">
      <input aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}" id="homeinput" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button id="homesubmit" type="submit" aria-labelledby="search-label">
        <i class="fa fa-search fa-lg"></i>
        <span class="sr-only" id="search-label">{{ _('Search') }}</span>
      </button>
    </div>
  </form>
</div>
