<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Communities?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
      <p>EUDAT represents a unique partnership between research
        communities and data centers.</p>
      <p>It brings together data service providers and users who
        are directly involved with the design of data services.</p>
      {% endtrans %}
    </p>
  </div>
</div>
