<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Repositories?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        A Repository is the harvesting endpoint B2FIND uses for its metadata ingestion process. 
        Several repositories may belong to one Community in order to display e.g. different research projects within one data repository. 
        One Repository may also relate to different Communities, e.g. when a generic data repository stores and 
        publishes data that belong to different research infrastructures. You may use this facet to specify your search.
      {% endtrans %}
    </p>
  </div>
</div>
