<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Projects?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        Projects are research infrastructures, 
        metadata aggregators, or thematic projects that generate research data. 
        Several individual repositories may form a project in B2FIND to enable a common project-related search space.
      {% endtrans %}
    </p>
  </div>
</div>
