{% extends "page.html" %}

{% block subtitle %}{{ _('Imprint') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Imprint'), named_route='b2find.info_imprint' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
          <h1 class="page-heading">{{ _('Imprint') }}</h1>
          <p>The service B2FIND is provided by <a href="https://eudat.eu/eudat-cdi" target="_blank">EUDAT Collaborative Data Infrastructure</a>.The provider of this website in the legal sense is EUDAT Ltd.</p>
          <h4>CONTACTS</h4>
          <p>
            info@eudat.eu<br />
          </p>
          <p>
            EUDAT Ltd<br />
            Keilaranta 14<br />
            02150 Espoo<br />
            Finland<br />
            VAT number: FI 28953559<br />
          </p>
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
