{% extends "page.html" %}

{% block subtitle %}{{ _('Imprint') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Imprint'), named_route='b2find.info_imprint' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
          <p><a href="/info/imprint.html">English version</a></p>
          <h1 class="page-heading">{{ _('Impressum') }}</h1>
          <p>Der Dienst B2FIND wird für die <a href="https://eudat.eu/eudat-cdi" target="_blank">EUDAT Collaborative Data Infrastructure</a> durch die Deutsches Klimarechenzentrum GmbH betrieben.</p>
          <h2>Anbieterkennzeichnung</h2>
          <p>Die nachstehenden Informationen enthalten die gesetzlich vorgesehenen Pflichtangaben zur Anbieterkennzeichnung, zu den datenschutzrechtlichen Informationspflichten sowie weitere wichtige rechtliche Hinweise zur Internetpräsenz des DKRZ.</p>
          <h2>Anbieter</h2>
          <p>Anbieter dieser Internetpräsenz ist im Rechtssinne das Deutsche Klimarechenzentrum GmbH (DKRZ).</p>
          <h2>Adresse</h2>
          <p>
            Deutsches Klimarechenzentrum GmbH<br />
            Bundesstraße 45a<br />
            D-20146 Hamburg
          </p>
          <p>
            Telefon: +49 40 460094 0<br />
            Fax: +49 40 460094 270<br />
            E-Mail: sekretariat@dkrz.de<br />
            Internet: www.dkrz.de
          </p>
          <p>
            <b>Registergericht:</b> Das DKRZ ist beim Amtsgericht Hamburg unter der Registernummer HRB 39784 eingetragen.<br />
            <b>Vertreter:</b> Das DKRZ wird gesetzlich vertreten durch den Geschäftsführer Prof. Dr. Thomas Ludwig.<br />
            <b>Umsatzsteueridentifikationsnummer:</b> Die Umsatzsteueridentifikationsnummer des DKRZ lautet: DE 118713406<br />
            <b>Redaktionsverantwortlicher:</b> Redaktionsverantwortlich gemäß § 55 Abs. 2 RStV ist Prof. Dr. Thomas Ludwig.<br />
            <b>Rechtliche Hinweise zur Organisationsform:</b> Das DKRZ ist eine gemeinnützige Einrichtung, die in der Rechtsform einer GmbH organisiert ist.
          </p>
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
