{% extends "page.html" %}

{% block subtitle %}{{ _('Imprint') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Imprint'), named_route='b2find.info_imprint' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
          <p><a href="/info/impressum.html">Deutsche Version</a></p>
          <h1 class="page-heading">{{ _('Imprint') }}</h1>
          <p>The service B2FIND is provided by Deutsches Klimarechenzentrum GmbH on behalf of <a href="https://eudat.eu/eudat-cdi" target="_blank">EUDAT Collaborative Data Infrastructure</a>.</p>
          <h2>Provider identification</h2>
          <p>The following information contains the legally required information on provider labelling, data protection information obligations and other important legal information on the DKRZ website.</p>
          <h2>Provider</h2>
          <p>The provider of this website in the legal sense is Deutsches Klimarechenzentrum GmbH (DKRZ).</p>
          <h2>Address</h2>
          <p>
            German Climate Computing Centre GmbH<br />
            Bundesstraße 45a<br />
            D-20146 Hamburg
          </p>
          <p>
            Telephone: +49 40 460094 0<br />
            Fax: +49 40 460094 270<br />
            E-mail: sekretariat@dkrz.de<br />
            Internet: www.dkrz.de
          </p>
          <p>
            <b>Register court:</b> The DKRZ is registered at the Hamburg District Court under the registration number HRB 39784.<br />
            <b>Representative:</b> The DKRZ is legally represented by the Managing Director Prof Dr Thomas Ludwig.<br />
            <b>Sales tax identification number:</b> The sales tax identification number of the DKRZ is: DE 118713406<br />
            <b>Responsible editor:</b> Responsible editor according to § 55 Abs. 2 RStV is Prof. Dr. Thomas Ludwig.<br />
            <b>Legal information on the organisational form:</b> The DKRZ is a non-profit institution organised in the legal form of a limited liability company.
          </p>
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
