<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Repositories?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        In B2FIND, repositories represent metadata harvested from one harvesting endpoint or metadata provider. 
        Several repositories may form a community and thus create a search space for e.g. a certain research projects or -infrastructure.
      {% endtrans %}
    </p>
  </div>
</div>
