<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Communities?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        Communities are the Data Providers, Research Infrastructures, 
        Metadata Aggregators or Projects that generate research data that are made visible by B2FIND. 
        Communities may represent single repositories as well as research output from a thematic scientific infrastructure. 
        It is up to the data providers to decide what the Community in B2FIND should represent. 
        One Community may include research output from different harvesting endpoints, those endpoints may be tagged as 'Repositories' 
        in order to enable facetted search options within as well as across repositories.
      {% endtrans %}
    </p>
  </div>
</div>
