<style>
  .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
</style>

<iframe name="hiddenFrame" class="hide"></iframe>

<h3><a name="applyform">Apply for Integration within EUDAT-B2FIND</a></h3>
 
  <h2>General Information</h2> 
 
  <form method="get" action="/cgi-bin/cgi_formular_auswertung.py" target="_blank">
   <h3>Contact Information</h3>
    <p>Name: <input type="text" name="Name" value=""></p>
    <p>Email: <input type="email" name="Email" value=""></p>
    <p>Affilation: <input type="text" name="Affilation" value=""></p>
   <h3>Community Information</h3>
    <p>Community Shortname: <input type="text" name="commShortname" value=""></p>
    <p>Community Longname: <input type="text" name="Community" value=""></p>
    <p>Community Description: <input type="text" name="commDescription" value=""></p>
    <p>Community Homepage: <input type="text" name="commHomepage" value=""></p>
    <p>Community Logo: <input type="text" name="commLogo" value=""></p>
    <p>Community Data Repository: <input type="text" name="commDataRepos" value=""></p>

    <p> Disciplines:</p> 
    <select name="Disciplines">
	<option value="Humanities">Humanities</option>
	<option value="Social Sciences">Social Sciences</option>
	<option value="Natural Sciences">Natural Sciences</option>
	<option value="Professions">Professions</option>
    </select>

    <p><input type="submit" value="Submit General Information" name="Submit General Information" target="hiddenFrame"></p>  
 
  </form>

  <h2>Data and Metadata Specification</h2> 
 
  <form method="get" action="/cgi-bin/cgi_formular_auswertung.py" target="_blank">
   <h3>Research Data Specification</h3>
    <p>Granularity: <textarea  ROWS=10 COLS=40 type="text" name="Granularity" onmouseover="this.value='What level(s) of granularity do your metadata cover, i.e. do metadata records correspond to individual digital objects, data sets, or other groupings? If there is a hierarchy of levels of aggregation, please describe it here.'" onclick="this.value=''" value=""></textarea></p>
   <h3>Metadata Specification</h3>
    <p>Availability: <textarea  ROWS=10 COLS=40 type="text" name="Availability" value="">Are there metadata available at all ?</textarea></p>
    <p>Generation  <input type="text" name="Generation" value=""></p>

    <p><input type="submit" value="Submit Data and Metadata Specification" name="Submit Data and Metadata Specification"></p>  
 
  </form>
