{% asset 'ckanext-b2find/moment' %}
{% asset 'ckanext-b2find/bootstrap-datepicker-css' %}
{% asset 'ckanext-b2find/bootstrap-datepicker' %}
{% asset 'ckanext-b2find/daterangepicker-module' %}

{# This <section> is the date-range picker widget in the sidebar. #}
<section class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-calendar"></i> {{ _('Publication Year') }}
    <a href="{{ h.remove_url_param(['ext_startdate', 'ext_enddate']) }}" class="action">{{ _('Clear') }}</a>
  </h2>
  <div class="module-content input-prepend input-daterange" data-module="daterange-query" id="datepicker">
    <input type="text" class="input-mini" style="cursor:pointer;" readonly="" name="start" id="start" data-module="daterangepicker-module" />
    <span class="add-on" style="border:none;background-color:#ffffff;">&nbsp;&nbsp;to&nbsp;&nbsp;</span>
    <input type="text" class="input-mini" style="cursor:pointer;" readonly="" name="end" id="end" data-module="daterangepicker-module" />
  </div>
</section>