
{# This <section> is the date-range picker widget in the sidebar. #}

<section class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-calendar"></i> {{ _('Publication Year') }}
    <a href="{{ h.remove_url_param(['ext_startdate', 'ext_enddate']) }}" class="action">{{ _('Clear') }}</a>
  </h2>

  <div class="module-content">
    <div id="pubyear-search-container">
      <div class="container">
        <div class="row">
          {{ c.pubyear_plot | safe }}
        </div>
      </div>
    </div>
  </div>

  {{ c.pubyear_script | safe }}
</section>
