{% set info_title = "CKAN Internal" %}

{% extends "package/snippets/info_base.html" %}

{% block info_table_body %}
  {% if pkg_dict.version %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Version") }}</th>
      <td class="dataset-details">{{ pkg_dict.version }}</td>
    </tr>
  {% endif %}

  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.metadata_created %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Created") }}</th>
      <td class="dataset-details">
          {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
      </td>
    </tr>
  {% endif %}

  {% if pkg_dict.metadata_modified %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
      <td class="dataset-details">
          {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
      </td>
    </tr>
  {% endif %}

{% endblock %}
