{% set info_title = "Coverage" %}

{% extends "package/snippets/info_base.html" %}

{% block info_table_body %}
  {% if extras_dict.Discipline %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Discipline") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Discipline }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.SpatialCoverage %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Spatial Coverage") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.SpatialCoverage }}</td>
    </tr>
  {% endif %}

  {% if extras_dict["TemporalCoverage:BeginDate"] and extras_dict["TemporalCoverage:EndDate"] %}
    {% if extras_dict["TemporalCoverage:BeginDate"] == extras_dict["TemporalCoverage:EndDate"] %}
      <tr>
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Temporal Point") }}</th>
        <td class="dataset-details" property="rdf:value">{{ extras_dict["TemporalCoverage:BeginDate"] }}</td>
      </tr>
    {% else %}
      <tr>
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Temporal Coverage Begin") }}</th>
        <td class="dataset-details" property="rdf:value">{{ extras_dict["TemporalCoverage:BeginDate"] }}</td>
      </tr>
      <tr>
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Temporal Coverage End") }}</th>
        <td class="dataset-details" property="rdf:value">{{ extras_dict["TemporalCoverage:EndDate"] }}</td>
      </tr>
    {% endif %}
  {% elif extras_dict.TemporalCoverage %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Temporal Coverage") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.TemporalCoverage }}</td>
    </tr>
  {% endif %}

{% endblock %}
