<div>
{% if extras_dict.OpenAccess %}
  {% if h.equals_ignore_case(h.strip_brackets(extras_dict.OpenAccess), "true") %}
    <i class="fa fa-unlock" title="Open Access"></i>
  {% endif %}
{% endif %}

{% if extras_dict.DOI %}
  {% if h.is_url(extras_dict.DOI) %}
    <a href='{{ extras_dict.DOI }}' target='_blank'><span class="label package-label-doi">DOI</span></a>
  {% else %}
    <span class="label package-label-doi">DOI</span>
  {% endif %}
{% endif %}

{% if extras_dict.PID %}
  {% if h.is_url(extras_dict.PID) %}
    <a href='{{ extras_dict.PID }}' target='_blank'><span class="label package-label-pid">PID</span></a>
  {% else %}
    <span class="label package-label-pid">PID</span>
  {% endif %}
{% endif %}

{% if extras_dict.Citations %}
    <img alt="Citations:" src="https://img.shields.io/badge/citations-{{ extras_dict.Citations }}-orange"></img>
{% endif %}
</div>

