{% set info_title = "Provenance" %}

{% extends "package/snippets/info_base.html" %}

{% block info_table_body %}
  {% if pkg_dict.author_email %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Creator") }}</th>
      <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
    </tr>
  {% elif pkg_dict.author %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Creator") }}</th>
      <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.Instrument %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Instrument") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Instrument }}</td>
      </tr>
  {% endif %}

  {% if extras_dict.Publisher %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Publisher") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Publisher }}</td>
      </tr>
  {% endif %}

  {% if extras_dict.Contributor %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Contributor") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Contributor }}</td>
      </tr>
  {% endif %}

  {% if extras_dict.PublicationYear %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Publication Year") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.PublicationYear }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.FundingReference %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Funding Reference") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.FundingReference }}</td>
      </tr>
  {% endif %}

  {% if extras_dict.Rights %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Rights") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Rights }}</td>
      </tr>
  {% endif %}

  {% if extras_dict.OpenAccess %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("OpenAccess") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.OpenAccess }}</td>
      </tr>
  {% endif %}

  {% if extras_dict.Contact %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Contact") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Contact }}</td>
    </tr>
  {% endif %}

{% endblock %}
