{% set info_title = "Representation" %}

{% extends "package/snippets/info_base.html" %}

{% block info_table_body %}
  {% if extras_dict.Language %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Language") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Language }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.ResourceType %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Resource Type") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.ResourceType }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.Format %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Format") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Format }}</td>
    </tr>
  {% endif %}
{% endblock %}
