{% set info_title = "Representation" %}

{% extends "package/snippets/info_base.html" %}

{% block info_table_body %}
  {% if extras_dict.Language %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Language") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Language }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.ResourceType %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Resource Type") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.ResourceType }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.Format %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Format") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Format }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.Size %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Size") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Size }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.Version %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Version") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Version }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.Discipline %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Discipline") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Discipline }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.SpatialCoverage %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Spatial Coverage") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.SpatialCoverage }}</td>
    </tr>
  {% endif %}

  {% if extras_dict["TemporalCoverage:BeginDate"] and extras_dict["TemporalCoverage:EndDate"] %}
    {% if extras_dict["TemporalCoverage:BeginDate"] == extras_dict["TemporalCoverage:EndDate"] %}
      <tr>
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Temporal Point") }}</th>
        <td class="dataset-details" property="rdf:value">{{ extras_dict["TemporalCoverage:BeginDate"] }}</td>
      </tr>
    {% else %}
      <tr>
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Temporal Coverage Begin") }}</th>
        <td class="dataset-details" property="rdf:value">{{ extras_dict["TemporalCoverage:BeginDate"] }}</td>
      </tr>
      <tr>
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Temporal Coverage End") }}</th>
        <td class="dataset-details" property="rdf:value">{{ extras_dict["TemporalCoverage:EndDate"] }}</td>
      </tr>
    {% endif %}
  {% elif extras_dict.TemporalCoverage %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Temporal Coverage") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.TemporalCoverage }}</td>
    </tr>
  {% endif %}

  {% if extras_dict.Checksum %}
    <tr>
      <th scope="row" class="dataset-label" property="rdfs:label">{{ _("Checksum") }}</th>
      <td class="dataset-details" property="rdf:value">{{ extras_dict.Checksum }}</td>
    </tr>
  {% endif %}
{% endblock %}
