{% extends "page.html" %}

{% set pkg = c.pkg_dict or pkg_dict %}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block subtitle %}{{ _('Datasets') }}{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = h.dataset_display_name(pkg) %}
    <li>{% link_for _('Datasets'), controller='dataset', action='search' %}</li>
    <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='dataset', action='read', id=pkg.name %}</li>
  {% else %}
    <li>{% link_for _('Datasets'), controller='dataset', action='search' %}</li>
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
{% endblock %}
