{% extends "package/read_base.html" %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% block package_archive_notice %}
    {% endblock %}
    <h2>
      {% block page_heading %}
        {{ super() }}
      {% endblock %}
    </h2>

     {% block package_labels %}
      {% set extras_dict = dict(h.sorted_extras(pkg.extras,excluded_extras)) %}
      {% snippet "package/snippets/labels.html", pkg_dict=pkg_dict, extras_dict=extras_dict, logged_in=logged_in %}
    {% endblock %}

    {% block package_notes %}
      {{ super() }}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block package_resources %}
  {% endblock %}

  {% block package_tags %}
    {{ super() }}
  {% endblock %}

  {% block package_additional_info %}
    {{ super() }}
  {% endblock %}

{% endblock %}
