{% ckan_extends %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.id if is_activity_archive else pkg.name, icon='sitemap') }}
{% endblock %}

{% block package_info %}
  <!-- We will put our React component inside this div. -->
  <div id="b2find_map"></div>
{% endblock %}

{% block package_organization %}
  {% if pkg.organization %}
    {% set org = h.get_organization(pkg.organization.id) %}
    {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
  {% endif %}
{% endblock %}

{% block package_license %}
{% endblock %}
