{% ckan_extends %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.id if is_activity_archive else pkg.name, icon='sitemap') }}
  {{ h.build_nav_icon(dataset_type ~ '.groups', _('Communities'), id=pkg.id if is_activity_archive else pkg.name, icon='users') }}
{% endblock %}

{% block package_info %}
  {# ckanext-spatial: dataset extent #}
  {% set dataset_extent = h.get_pkg_dict_extra(pkg, 'spatial', '') %}
  {% if dataset_extent %}
    {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
  {% endif %}
{% endblock %}

{% block package_organization %}
{% endblock %}

{% block package_license %}
{% endblock %}
