{% extends "page.html" %}

{% block subtitle %}{{ _('Introduction') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Introduction'), controller='ckanext.b2find.controller:GuidelinesController', action='introduction' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">

<!--
    <div class="alert alert-block">
      <h4><i class="fa fa-wrench"></i> UNDER CONSTRUCTION <i class="fa fa-wrench"></i></h4>
      This document is under construction and in a draft stage, please use with care!
    </div>
-->

    <div class="module-content">
      <h1 class="page-heading">{{ _('Introduction') }}</h1>

        <p>Welcome to the guidelines of EUDAT’s metadata service B2FIND for data providers. These guidelines are intended to provide information about the requirements for successful integration in B2FIND.</p>

<!--
      <h2><strong class="headerboxbodylogo">Contents</strong></h2>
       &nbsp;&nbsp;&nbsp;<a href="#audience">Intended Audience</a>
       <br/>&nbsp;&nbsp;&nbsp;<a href="#objective">Objective</a>
       <br/>&nbsp;&nbsp;&nbsp;<a href="#principles">Open research data principles</a>
       <br/>&nbsp;&nbsp;&nbsp;<a href="#content">Content</a>
       <br/>&nbsp;&nbsp;&nbsp;<a href="#workflow">B2FIND workflow</a>
       <br/>&nbsp;&nbsp;&nbsp;<a href="#versions">Versions</a>
       <br/>&nbsp;&nbsp;&nbsp;<a href="#editors">Editors</a>
 

      <br/>
-->
        <h3><a name="audience"></a>Intended Audience</h3>

	  <p>The audience of this document is research data providers and repository managers who intend to publish their metadata on B2FIND.</p>

        <h3><a name="audience"></a>Objective</h3>

        <p>B2FIND gathers diverse metadata on the research output of many heterogeneous sources, with the aim of providing a unified discovery portal allowing widespread and cross-disciplinary search and access to the underlying data collections.</p>

        <p>These guidelines provide instructions and policies that should be followed by data providers to establish an ingestion workflow.</p>


        <h3><a name="principles"></a>Open research data principles</h3>

	  <p>EUDAT propagates 'best practices' which follow the so-called FAIR principles, a set of guidelines widely used for managing scientific data so that it can be accessed and re-used efficiently, see <a href="http://ec.europa.eu/research/participants/data/ref/h2020/grants_manual/hi/oa_pilot/h2020-hi-oa-data-mgt_en.pdf"> Guidelines on FAIR Data Management in Horizon 2020 </a>. The FAIR principles promote:

	    <ul>
	      <li>the availability of data supporting scholarly publications,</li> 
	      <li>the use of data repositories, </li> 
	      <li>the value of data curation to enable data access and reuse,</li> 
	      <li>support for developing researchers’ data skills,</li> 
	      <li>cultural norms of academia that ensure individuals can gain credit for sharing data.</li> 
	    </ul>
	  </p>

	<p>We address these principles to the extent that they affect metadata in the following sections. In general, we follow a low-barrier approach that aims to facilitate an easy and smooth integration into B2FIND.</p>
	
        <h3><a name="content"></a>Contents of the Guidelines</h3>
      <p>The guidelines are divided into three sections:
	<ol>
	  <li>The first section addresses the policies for <a href="http://b2find.eudat.eu/guidelines/providing.html">Providing Metadata for EUDAT-B2FIND</a>, e.g. policies about the structure and availability of the provided metadata.
    </li>
          <li>The subsequent section focuses on the <a href="http://b2find.eudat.eu/guidelines/harvesting.html">Harvesting of Metadata by B2FIND</a>.</li>
	  <li>Finally, we investigate the <a href="http://b2find.eudat.eu/guidelines/mapping.html"> Mapping onto the common B2FIND Schema</a> and give some recommendations on how metadata quality can be improved or assured during this process.
<!-- Not yet shown
     Beside the definition of the B2FIND schema we discuss in this context how metadata quality can be checked, assured and, if necessary, improved.
-->
	  </li>
	</ol>

      </p>

        <h3><a name="workflow"></a>B2FIND Workflow</h3>

        <p>A schema of the B2FIND metadata ingestion workflow can be seen in the figure below. Besides the first (MD Generation) and last (MD Uploading) steps, the sub processes ‘MD Providing’, ‘MD Harvesting’ and ‘MD Mapping’ correspond to the paragraphs of the guidelines.</p>

      <figure>
        <img border="1" vspace="1" class="left" src="/images/B2FIND_Workflow.png" width="600" height="120" alt="B2FIND ingestion workflow">
        <figcaption> The B2FIND metadata ingestion workflow</figcaption>
      </figure>

      <p>While we don't go in the technical details, we refer</p>
	<ul>
	  <li>data managers who are interested in the step by step implementation of the whole metadata ingestion workflow to the <a href="https://github.com/EUDAT-Training/B2FIND-Training"> B2FIND-Training </a> material. </li>
	  <li>developers who are interested in the underlying software and source code to the github repository <a href="https://github.com/EUDAT-B2FIND"> EUDAT-B2FIND </a>.</li>
        </ul>

        <h3><a name="versions"></a>Versions</h3>
	<ul>
          <li>1.3 September 2018</li>
	  <li>1.0 August 2017 - Initial publication on <a href="http://b2find.eudat.eu"> the productive B2FIND instance </a></li>
	  <li>0.3 June 2017 - Initial publication on <a href="http://trng-b2find.eudat.eu"> the training instance </a>.</li>
	  <li>0.2. May 2017 - Reviewed version and first draft for web pages</li>
	  <li>0.1 February 2017 - Initial internal reviewed document</li>
	  <li>0.0.2 January 2017 - Added changes and proposals (still working on paper)</li>
	  <li>0.0.1  December 2017 - Early draft, B2FIND team</li>
	</ul>

    <h3><a name="editors"></a>Editors</h3>
      <ul>
        <li>Juha Hakala, NLF</li>
        <li>Heinke Höck, DKRZ</li>
        <li>Mikael Karlsson, CSC</li>
        <li>Michael Kurtz, DKRZ</li>
        <li>Claudia Martens, DKRZ</li>
        <li>Sara Ramezani, Surf-sara</li>
        <li>Hannes Thiemann, DKRZ</li>
        <li>Heinrich Widmann, DKRZ</li>
        <li>Anna-Lena Flügel, DKRZ</li>
      </ul>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
