{% extends "page.html" %}

{% block subtitle %}{{ _('Providing Metadata for EUDAT-B2FIND') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Providing Metadata'), controller='ckanext.b2find.controller:GuidelinesController', action='providing' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Providing Metadata for EUDAT-B2FIND') }}</h1>

      <p> We describe in this section what has to be done on the data provider site to enable publishing metadata in the EUDAT-B2FIND catalogue. 

First we state a few mandatory <a href="#requirements"> requirements </a> and additional some 'best parctice'  <a href="#recommendations"> recommendations </a>.
In the second subsection we discuss <a href="#mdformatsschemas"> metadata formats and schemes </a>, which are relevant for B2FIND.
We address the 'granularity' of your data in the section  <a href="levels_aggr"> Levels of Aggregation </a>. Finally we will discuss in the section <a href="#mdquality"> metadata quality </a> what can be done to asure and improve the quality of the published metadata in more detail.
</p>

<p> According to these sections we can identify three main steps that need to be completed : 

      <ol>
		  <li>Analyse and describe the quality of the available metadata.</li>
		  <li>Implement your meatadata using standardised formats and schemes.</li>
		  <li>Structure, order and group the provided metadata records using appropriate levels of aggregations and granularity.</li>
      </ol>

      This items have to be discussed iteratively between the domain experts and data managers at the data provider side and with the B2FIND team at service provider side.

</p>
      <h2><strong class="headerboxbodylogo">Contents</strong></h2>
       <br/>&nbsp;&nbsp;&nbsp;<a href="#requirements_recomm">1. Requirements and Recommendations</a>
       <br/>&nbsp;&nbsp;&nbsp;<a href="#mdformats">2. Metadata Formats and Schemes</a>
       <br/>&nbsp;&nbsp;&nbsp;<a href="#l_aggregations">3. Levels of aggregation</a>
       <br/>&nbsp;&nbsp;&nbsp;<a href="#mdquality">4. Metadata Quality</a>

        <h3><a name="#requirements_recomm">Requirements and Recommendations</a></h3>

         <h4><a name="#requirements">Requirements</a></h4>

	  <p>To get started joining EUDAT-B2FIND only a few requirements must be fulfilled by the data providers :
          <ul>
	    <li>Data provider has to agree with the storage policies of B2FIND, see for this the <a href="/legal">Legal Notice</a>. Especially the consent must be declared that the provided metadata are made publicly available and open accessible.</li>
	    <li>Metadata should be static and in the 'best possible condition'. What the latter means is described in more detail in the section <a href="#mdqualtity"> Metadata Quality</a> and must be discussed for each case individually. Here are only a few central issues listed :</li>
             <ul>
	       <li>Metadata records should be as complete as possible and describe the entire dataset, and not only a component or part of it</li>
	       <li>Additional information about the course structure and the used formats (see section <a href="#mdformatsschemas"> metadata formats and schemas </a> below) must be offered</li>
	       <li>There are only two mandatory metadata fields which have to be provided : a ‘Title’ and at least one identifier, which identifies and is linked to the underlying data resource.</li>
	       <li>Metadata must use Unicode with UTF-8 encoding.</li> 
<!-- Unicode version x.x (or later) may be used.</li> -->
	     </ul>
	     <li>An interface to retrieve metadata must be available, accessible and usable (preferably OAI-PMH, but we support as well other APIs like JSON-API and CSW clients, for details see <a href="/guidelines/harvesting.html">Harvesting Metadata</a>. </li>
	  </ul>
	  </p>

         <h4><a name="#recommendations">Recommendations</a></h4>

	  <p>In addition to these musts we express the following ‘best practice’ recommendations : 
          <ul>
	    <li>More detailed information about granularity, as explained in more details in the section <a href="l_aggregations"> levels of Aggregation </a> below.</li>
	    <!--
		<li>Important metadata elements should not be repeated or missing</li>
	    -->
	    <li>Metadata should not be encrypted or obfuscated</li>
	    <li>Metadata should describe research data sets or related resources such as code books.</li>
	    <li>As far as possible the metadata should comprise citation information, as e.g. the 'Creator' and the 'Publisher', of the described data resource.
	    <!--
		  <li>Metadata may also describe research data collections and component parts of research data sets. If so, there should be a two-way link between the collection description and metadata records belonging to the collection, or description of the data set and descriptions of component parts.</li>
	    -->
	    <li>Links should be based on persistent identifiers. URLs which act as deep links should be avoided, since they are not likely to be persistent. 
Preferably and as far as available DOIs (Digital Object Identifiers) should be provided.
<!-- Updates to existing records must have a key (identifier) with which the old record can be overwritten.
-->
	    </li>
	  </ul>
	  </p>

        <h3><a name="#mdformatsschemas">Metadata Formats and Schemas</a></h3>

	<p>As stated already in the requirements above the provided metadata should be available as formated records, which follow a defined schema. 
We list and describe in the following only metadata formats and schemes that are already supported by B2FIND.
<!-- , but as well those which may be of interest for B2FIND in the future.-->

	<p>In case you use specific standards which are not listed below, please let us know. We are open and keen to extend B2FIND to further formats and schemes.
</p>

For a detailed and comprehensive overview about the universe of metadata standards see at
	<ul>
          <li> <a href="http://rd-alliance.github.io/metadata-directory/standards/"> RDA Metadata Directory </a> and </li>
          <li> <a href="http://www.dcc.ac.uk/resources/metadata-standards"> DCC Metadata Standards </a> </li>
        </ul>
           <h4><a name="#mdformats">Metadata Format List</a></h3>
             
 	<p> Metadata formats provide rules for coding (i.e., the machine representation), and the syntax (i.e., the marking and arrangement) of metadata and are required for browsers, search engines, and other programs to reliably process the metadata.</p>
               
	   <table border="1" class="docutils">
	     <colgroup>
	       <col width="15%" />
	       <col width="30%" />
	       <col width="55%" />
	     </colgroup>
	     <thead valign="bottom">
	       <tr class="row-odd">
		 <th class="head">Name</th>
		 <th class="head">Specification</th>
		 <th class="head">Description</th>
	       </tr>
	     </thead>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>XML</td>
		 <td><class="docutils literal"><span class="pre"></span><a href="https://www.w3.org/XML"> https://www.w3.org/XML </a> </td>
		 <td><class="docutils literal"><span class="pre"></span>Extendesible Markup Language, e.g. used as exchange format by OAI-PMH</td>
	       </tr>
	     </tbody>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>MarcXML</td>
		 <td><class="docutils literal"><span class="pre"></span><a href="http://www.loc.gov/standards/marcxml"> http://www.loc.gov/standards/marcxml </a> </td>
		 <td><class="docutils literal"><span class="pre"></span>Machine readable Format (but sometimes used as 'schema' to provide metadata)</td>
	       </tr>
	     </tbody>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>JSON</td>
		 <td><class="docutils literal"><span class="pre"></span> <a href="http://www.json.org/index.html"> http://www.json.org/index.html </a></td>
		 <td><class="docutils literal"><span class="pre"></span>JavaScript Object Notation : Collection of key/value pairs or array of values.  </td>
<!--
		 <td><class="docutils literal"><span class="pre"></span>JSON records are e.g. retrieved from GBIF and DataCite via a JSON-API </td>
-->
	       </tr>
	     </tbody>
<!-- NOT YET used in B2FIND
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>RDF</td>
		 <td><class="docutils literal"><span class="pre"></span><a href="https://www.w3.org/RDF"> https://www.w3.org/RDF </a></td>
		 <td><class="docutils literal"><span class="pre"></span>Resource Description Framework : Graph based data model, using "triples" to describe "Linked Data" </td>
		 <td><class="docutils literal"><span class="pre"></span>Not yet used, but maybe supported in future</td>
	       </tr>
	     </tbody>
-->
	   </table>

           <h4><a name="#mdformats">Metadata Schema list</a></h3>

	  <p>A Metadata schema is a metadata set with a prescribed syntax and encoding with fixed and semantically unambiguous element designations. It provides rules which element is allowed for which context and lays down agreements about  allowed data types (e.g., text, numeric, date, etc.) and value ranges (numeric ranges, controlled vocabulary, etc.). EUDAT supports multiple discipline specific metadata schemas, only some of them are listed in the following table.</p>

	   <table border="1" class="docutils">
	     <colgroup>
	       <col width="15%" />
	       <col width="30%" />
	       <col width="55%" />
	     </colgroup>
	     <thead valign="bottom">
	       <tr class="row-odd">
		 <th class="head">Name</th>
		 <th class="head">Specification</th>
		 <th class="head">Description</th>
	       </tr>
	     </thead>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>DataCite</td>
		 <td><class="docutils literal"><span class="pre"></span><a href="https://schema.datacite.org/meta/kernel-4.0/"> https://schema.datacite.org/meta/kernel-4.0/</a></td>
		 <td><class="docutils literal"><span class="pre"></span>The DataCite Metadata Schema is a list of core metadata properties chosen for an accurate and consistent identification of a resource for citation and retrieval purposes, along with recommended use instructions. Widely used schema, defined by DataCite to provide Digital Object Identifiers (DOIs) to help the research communities to locate, identify, and cite research data with confidence.</td>
	       </tr>
	     </tbody>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>Dublin Core</td>
		 <td><class="docutils literal"><span class="pre"></span><a href="http://dublincore.org"> http://dublincore.org</a></td>
		 <td><class="docutils literal"><span class="pre"></span>Simple, easy-to-understand, and very widespread metadata standards (mandatory for OAI-PMH). The most used schema for OAI-PMH (as OAI metadata prefix 'oai_dc').</td>
	       </tr>
	     </tbody>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>ISO 19115</td>
		 <td><class="docutils literal"><span class="pre"></span><a href="https://www.iso.org/standard/53798.html"> https://www.iso.org/standard/53798.html </a></td>
		 <td><class="docutils literal"><span class="pre"></span> ISO 19115-1:2014 defines the schema required for describing geographic information and services by means of metadata. It provides information about the identification, the extent, the quality, the spatial and temporal aspects, the content, the spatial reference, the portrayal, distribution, and other properties of digital geographic data and services. </td>
	       </tr>
	     </tbody>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>CMDI</td>
		 <td><class="docutils literal"><span class="pre"></span><a href="https://www.clarin.eu/content/component-metadata"> https://www.clarin.eu/content/component-metadata </a></td>
		 <td><class="docutils literal"><span class="pre"></span> The Component MetaData Infrastructure (CMDI) provides a framework to describe and reuse metadata blueprints. Description building blocks (“components”, which include field definitions) can be grouped into a ready-made description format (a “profile”). </td>
	       </tr>
	     </tbody>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>DDI</td>
		 <td><class="docutils literal"><span class="pre"></span><a href="http://www.ddialliance.org/"> http://www.ddialliance.org/ </a></td>
		 <td><class="docutils literal"><span class="pre"></span> The Data Documentation Initiative (DDI) is an international standard for describing the data produced by surveys and other observational methods in the social, behavioral, economic, and health sciences. </td>
	       </tr>
	     </tbody>
<!-- DCAT and PROV not used yet by B2FIND
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>DCAT</td>
		 <td><class="docutils literal"><span class="pre"></span><a href="https://www.w3.org/TR/vocab-dcat/" https://www.w3.org/TR/vocab-dcat/</a> </td>
		 <td><class="docutils literal"><span class="pre"></span> DCAT is an RDF vocabulary designed to facilitate interoperability between data catalogs published on the Web. </td>
		 <td><class="docutils literal"><span class="pre"></span> Not yet supported </td>
	       </tr>
	     </tbody>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>PROV</td>
		 <td><class="docutils literal"><span class="pre"></span><a href="https://www.w3.org/TR/prov-dm/" https://www.w3.org/TR/prov-dm/</a> </td>
		 <td><class="docutils literal"><span class="pre"></span> Provenance is information about entities, activities, and people involved in producing a piece of data or thing, which can be used to form assessments about its quality, reliability or trustworthiness. PROV-DM is the conceptual data model that forms a basis for the W3C provenance (PROV) family of specifications. </td>
		 <td><class="docutils literal"><span class="pre"></span> Not yet supported </td>
	       </tr>
	     </tbody>
-->
	   </table>

           <h4><a name="#mdformats">Example</a></h3>
            We give here an example for well defined and validated metadata, formatted as a XML file and coded with the DataCite schema :

            <script id="xmlexample1" type="text/xmldata">
	      <resource xmlns="http://datacite.org/schema/kernel-3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://datacite.org/schema/kernel-3 http://schema.datacite.org/meta/kernel-3/metadata.xsd">
		<identifier identifierType="DOI">10.5072/D3P26Q35R-Test</identifier>
		<creators>
		  <creator>
		    <creatorName>Fosmire, Michael</creatorName>
		  </creator>
		  <creator>
		    <creatorName>Wertz, Ruth</creatorName>
		  </creator>
		  <creator>
		    <creatorName>Purzer, Senay</creatorName>
		  </creator>
		</creators>
		<titles>
		  <title>Critical Engineering Literacy Test (CELT)</title>
		</titles>
		<publisher>Purdue University Research Repository (PURR)</publisher>
		<publicationYear>2013</publicationYear>
		<subjects>
		  <subject>Assessment</subject>
		  <subject>Information Literacy</subject>
		  <subject>Engineering</subject>
		  <subject>Undergraduate Students</subject>
		  <subject>CELT</subject>
		  <subject>Purdue University</subject>
		</subjects>
		<language>eng</language>
		<resourceType resourceTypeGeneral="Dataset">Dataset</resourceType>
		<version>1</version>
		<descriptions>
		  <description descriptionType="Abstract">
		    We developed an instrument, Critical Engineering Literacy Test (CELT), which is a multiple choice instrument designed to measure undergraduate students’ scientific and information literacy skills. It requires students to first read a technical memo and, based on the memo’s arguments, answer eight multiple choice and six open-ended response questions. We collected data from 143 first-year engineering students and conducted an item analysis. The KR-20 reliability of the instrument was .39. Item difficulties ranged between .17 to .83. The results indicate low reliability index but acceptable levels of item difficulties and item discrimination indices. Students were most challenged when answering items measuring scientific and mathematical literacy (i.e., identifying incorrect information).
		  </description>
		</descriptions>
</resource>
	    </script>


        <h3><a name="#l_aggregations">Levels of aggregation</a></h3>

	  <p>You should first think about the structure and  the granularity of your data and the dependent ancillary files which compose your research data and metadata which describe your data collections. Decide on how to structure your research data for making reuse and proper citation and annotation possible. In some cases your data will be composed of different files or items that belong to one collection, but in other cases your data might need to be segregated across a number of smaller aggregations and datasets.</p>

<p>From the perspective of B2FIND as a discovery portal for cited, inter-disciplinary data, we are interested to publish metadata NOT on the finest level of granularity (level 4 below), but preferably on the level of 'citable entities' or at least of 'resolvable entities' (level 2 or 3 below).</p>

<p>In the following table we define four abstract ‘Levels of aggregation’ and illustrate this layers by existing usecases : 

	   <table border="1" class="docutils">
	     <colgroup>
	       <col width="5%" />
	       <col width="15%" />
	       <col width="25%" />
	       <col width="25%" />
	       <col width="25%" />
	     </colgroup>
	     <thead valign="bottom">
	       <tr class="row-odd">
		 <th class="head">#</th>
		 <th class="head">Level Description</th>
		 <th class="head">Spedification w.r.t. B2FIND</th>
		 <th class="head">CMDI Model</th>
		 <th class="head">DKRZ LTA</th>
	       </tr>
	     </thead>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>1</td>
		 <td><class="docutils literal"><span class="pre"></span>Community/Project level </td>
		 <td><class="docutils literal"><span class="pre"></span>B2FIND Community </td>
		 <td><class="docutils literal"><span class="pre"></span>Complete Corpora/Collection</td>
		 <td><class="docutils literal"><span class="pre"></span>Project</td>
	       </tr>
	     </tbody>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>2</td>
		 <td><class="docutils literal"><span class="pre"></span>Experment/Study level </td>
		 <td><class="docutils literal"><span class="pre"></span>Referrenced by B2FIND record as citable entity (DOI recommended)</td>
		 <td><class="docutils literal"><span class="pre"></span>Sub Corpora / e.g. Speech corpus</td>
		 <td><class="docutils literal"><span class="pre"></span>Experiment</td>
	       </tr>
	     </tbody>
	     <tbody valign="top">
	       <tr class="row-even">
		 <td>3</td>
		 <td><class="docutils literal"><span class="pre"></span>Sub group or sub set level </td>
		 <td><class="docutils literal"><span class="pre"></span>Referrenced by B2FIND record as resolvable entity (PID, or better DOI recommended)</td>
		 <td><class="docutils literal"><span class="pre"></span>sub corpora or corpus components</td>
		 <td><class="docutils literal"><span class="pre"></span>Datasetgroup</td>
	       </tr>
	       <tr class="row-even">
		 <td>4</td>
		 <td><class="docutils literal"><span class="pre"></span>Digital entity (dataset/file) </td>
		 <td><class="docutils literal"><span class="pre"></span>Often no related B2FIND dataset available, but access redirected to landing page (level 2 or 3) </td>
		 <td><class="docutils literal"><span class="pre"></span>(recording) sessions (e.g. recording of a dialogue) or individual resources (e.g. text file)</td>
		 <td><class="docutils literal"><span class="pre"></span>Dataset</td>
	       </tr>
	     </tbody>
	   </table>
</p>

    <h4> The use cases </h4>

	    <ul>
	      <li>CLARIN - CMDI structure (Component Metadata Infrastructure) </li> CMDI was developed by members of CLARIN (Common Language ... Infrastructure)to establish metadata exchange within CLARIN infrastructure and defines different levels of description (granularity): From complete corpora, sub corpora or corpus components, to individual resources, e.g. a recording of a dialogue (sound file + transcript).

For illustration we show the CMDI hierarchy schema as used in <a href="https://corpus1.mpi.nl/ds/asv/?4#"> The Language Archive </a> (see figure 1) and as the CMDI profile is applied in the project JASMIN (see figure 2).

      <figure>
        <img border="1" vspace="10" class="left" src="/images/CMDI_Hierarchy-and-granularity-TLA.png" width="474" height="66" alt="Hierarchy in The Language Archive">
        <figcaption> Fig. 1 Hierarchy in the browswer of The Language Archive (see at <a href="https://corpus1.mpi.nl/ds/asv/?4#"> https://corpus1.mpi.nl/ds/asv/?4# </a>  </figcaption>
      </figure>
 


      <figure>
        <img border="1" vspace="10" class="left" src="/images/CMDI_Hierarchy-and-granularity-in-JASMIN-profiles.png" width="474" height="66" alt="Hierarchy and granularity in JASMIN's CMDI profiles">
        <figcaption> Fig. 2 Hierarchy and granularity in JASMIN's CMDI profiles (see at <a href="https://www.researchgate.net/figure/228732331_fig2_Figure-2-Hierarchy-and-granularity-in-JASMIN-profiles"> https://www.researchgate.net/figure/228732331_fig2_Figure-2-Hierarchy-and-granularity-in-JASMIN-profiles </a> </figcaption>
      </figure>

              </li>
	      <li>DKRZ - LTA (Long Term Archive) : Data in DKRZ-LTA is organized in multiple layers with a hierarchical structure. These layers are definded in the associated CERA2 model as Projects, Experiments, Dataset groups and Datasets and the relationships between these different layers is shown as hierarchical tree structure in the following figure.
<!--
 1. DKRZ-LTA supports single-parent (mono-hierarchical) relationships only.
-->
      <figure>
        <img border="1" vspace="10" class="left" src="/images/cera2_hierarchical_structure.png" width="474" height="66" alt="CERA2 Hierarchical Structure">
        <figcaption> Fig. 3 - CERA2 Hierarchical Structure </figcaption>
      </figure>

Belong other climate data the community ENES stores their CMIP5 experiments in the DKRZ-LTA archive. Only metadata records belonging to CMIP5 data collections, for which a DOI is assigned, are harvested from the CERA database and published in the discovery portal of B2FIND. The CMIP5 experiments are related to level 3 entities in the table above, because they are citable aggregations of datasets. And B2FIND metadata records refer via a DOI exactly to the landing page of these experiments or dataset groups in the DKRZ-LTA database CERA. 
<!-- If you resolve one of this links you will get lead to the related DOI entry of the corresponing experiment in the DKRZ-LTA database CERA. 
-->
Here you can now browse through the datasets of the experiment and finally downloud the datasets you are interested in.
	      </li>
       </ul>
</p>

Please let us know about the structure and granularity of your data.


        <h3><a name="#mdquality">Metadata Quality</a></h3>
	T.b.d. !!!


  </article>
{% endblock %}

{% block secondary %}{% endblock %}
